#backgr{
	background: white url(../img/congruent_pentagon.png);
    background-repeat: repeat;
}

.naveg{
	background-color: rgba(255, 255, 255, 1);
	/* height: 100%; */
    position: fixed;
    width: 100%;
    z-index: 1;
}

.feet{
	background: #4679BD;
}

.redes ul {
	list-style-type: none;
}

.redes ul li{
	display: inline;
	padding-right: 10px;
	color: #FFFFFF;
}

.biograf p{
	font-size: 14px;
}

.biograf h4{
	color: #4679BD;tu
}

.name h1{
	font-family: 'Play', sans-serif;
	font-weight: bold;
	font-size: 50px;
}

.name h4{
	font-family: 'Cabin', sans-serif;
	font-style: italic;
}

.titulos h2, h5{
    font-family: 'Pacifico', cursive;    
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.circle {
    width: 100%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4679BD;
}


.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.circle-text div {
    font-family: 'Hammersmith One', sans-serif;
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.circle-text:hover:after{
    background-color: #0C7B8F;
}

.itemh {
    font-size: 15px;
}

.bord{
    border-style: solid;
    border-width: 5px;
    border-color: #FFFFFF;
    border-radius: 7px;
}


@media (max-width: 320px) {
    .navbar-toggle {background-color: #eee;}
    .navbar-toggle .icon-bar {background-color: #383838;}
    .mapsize{width:100%; height:230px;}
    .fonth1{font-size: 35px;}
    .name h1 {font-size: 46px;}
    .topdiv{padding-bottom: 5%; padding-top: 64.4%;}
    .topimg{padding-bottom: 5%;}
    .jumbotron h2 {font-size: 14px;}

    .itemf {font-size: 28px;}
    .glyphicon {line-height: 0;position: static;}
    .jumbotron p { font-size:6.5px;} 
}

@media (min-width: 360px) {
    .navbar-toggle {background-color: #eee;}
    .navbar-toggle .icon-bar {background-color: #383838;}
    .topdiv{padding-bottom: 5%; padding-top: 55.4%;}
    .topimg{padding-bottom: 5%;}
    .jumbotron h2 {font-size: 14px;}
    .mapsize{width:100%; height:230px;}
    .itemf {font-size: 28px;}
    .glyphicon {line-height: 0;position: static;}
    .jumbotron p { font-size:9.5px;}  
}

@media (min-width: 384px) {
    .navbar-toggle {background-color: #eee;}
    .navbar-toggle .icon-bar {background-color: #383838;}
    .topdiv{padding-bottom: 5%; padding-top: 64.4%;}
    .topimg{padding-bottom: 5%; padding-top: 5%}
    .jumbotron h2 {font-size: 14px;}
    .mapsize{width:100%; height:260px;}
    .itemf {font-size: 31px;}
    .glyphicon {line-height: 0;position: static;}
    .jumbotron p { font-size:10.5px;}  
    .topdiv{padding-bottom: 5%; padding-top: 46.4%;}
}

@media (min-width: 400px) {
    .navbar-toggle {background-color: #eee;}
    .navbar-toggle .icon-bar {background-color: #383838;}
    .topdiv{padding-bottom: 5%; padding-top: 64.4%;}
    .topimg{padding-bottom: 5%; padding-top: 5%}
    .jumbotron h2 {font-size: 14px;}

    .itemf {font-size: 37px;}
    .glyphicon {line-height: 0;position: static;}
    .jumbotron p { font-size:10.5px;}  
    .topdiv{padding-bottom: 5%; padding-top: 46.4%;}
}

@media (min-width: 414px) {
    .navbar-toggle {background-color: #eee;}
    .navbar-toggle .icon-bar {background-color: #383838;}
    .topdiv{padding-bottom: 5%; padding-top: 64.4%;}
    .topimg{padding-bottom: 5%; padding-top: 5%}
    .jumbotron h2 {font-size: 14px;}

    .itemf {font-size: 41px;}
    .glyphicon {line-height: 0;position: static;}
    .jumbotron p { font-size:10.5px;}  
    .topdiv{padding-bottom: 5%; padding-top: 43.4%;}
}

@media (min-width: 767px) {
    .jumbotron h1, .jumbotron .h1 {font-size: 35px;}
    .glyphicon {top:-14px;}
    .jumbotron p { font-size:15.5px;}
    .itemf {font-size: 70px;}
    .glyphicon {line-height: 0;position: static;}
    .circle-text {width:70%;}
    .topimg{padding-top: 1%;}
    .topjumb{padding-top: 1%;}
}

@media (min-width: 800px) {
    .jumbotron h1, .jumbotron .h1 {font-size: 35px;} 
    .glyphicon {top:-14px;}
    .topimg{padding-top: 6%;}
    .topjumb{padding-top: 7%;}
}

@media (min-width: 966px) {
    .jumbotron h1, .jumbotron .h1 {font-size: 50px;}
    .glyphicon {top:-14px;}
    .topdiv{padding-bottom: 0%; padding-top: 14.4%;}
    .itemf {font-size: 58px;}
    .glyphicon {line-height: 0;position: static;}
    .jumbotron p { font-size:16.5px;}
    .topjumb {padding-top: 0%; padding-bottom: 8%}    
}

@media (min-width: 980px) {
    .jumbotron h1, .jumbotron .h1 {font-size: 50px;}
    .glyphicon {top:-14px;}  
}

@media (min-width: 1024px) {
    .jumbotron h1, .jumbotron .h1 {font-size: 50px;}
    .glyphicon {top:-14px;} 
    .itemf {font-size: 28px;}
    .jumbotron p { font-size:8.5px;} 
    .topjumb{padding-top: 10%;}
    .topdiv{padding-bottom: 4%; padding-top: 13.7%;}
    .btonsnav{padding-top: 3.6%}
    .mapsize{width:100%; height:490px;}
}

@media (min-width: 1280px) {
    .jumbotron h1, .jumbotron .h1 {font-size: 50px;}
    .glyphicon {top:-14px;} 
    .jumbotron p {font-size: 15px;}
    .itemf {font-size: 64px;}
    .glyphicon {line-height: 0;position: static;}
    .circle-text {width:100%;}
    .topimg{padding-top: 6%;}
    .topjumb{padding-top: 7%;}
    .mapsize{width:100%; height:522px;}
    .topdiv{padding-bottom: 2%; padding-top: 8.4%;}
    .jumbotron h2{font-size: 26px; text-align: center;}
    .jumbotron h1{margin-left: 15px;}
    .btonsnav{padding-top: 3.6%}
}

.imgcenter {
    margin: 0 auto;
}

.spaceh1{
    padding-top: 2%;
}

.padbuttom{
    padding-bottom: 5%;
}

.wit{
    background-color: rgba(112, 197, 192, 0.4);
}
