#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:11.5%;
   width:100%;
   background:#4679BD;
}

.parrafo{
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

.space{
	padding-top: 2.3%;
}

.jumbotron h2{
	font-size: 26px;
	text-align: center;
}

.jumbotron{
	padding: 16px;
}

label, input[type="submit"]{
	margin-top: 6px;
}

.btn:focus{
	outline: none;
}